body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

.center
{
    display: flex;
    justify-content: center;
    
}
.bl-u{border-left: unset!important;}
.br-u{border-right: unset;}
.bb{border-bottom: unset;}
.mt-16{margin-top: 16px;}
.mt-45{margin-top: 45px;}
.mt-55{margin-top: 55px;}
#mt-55{margin-top:55px;}
.mt-100{margin-top: 100px;}
.mb-30{margin-bottom: 30px;}
.pl-14{padding-left: 14px!important;}
.pr-14{padding-right: 14px!important;}
.pb-30{padding-bottom: 30px;}
.bc-r{background-color: #dd4b39!important;}
.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    background-color: #fff;
}

#daxilol-img
{
    position: relative;
    left: -15px;
}

.img-text
{
    position: absolute;
    top: 30px;
    text-align: center;
    color: #fff;
    font-size: 19px;
    left: -15px;
}
.img-text img
{
    width: 85%;
    margin-bottom: 45px;
    
}
.img-text p
{
    
}
.no-padding {
    padding: 0;
}

.log-tab>li
{
    border: 1px solid #333333;
    width: 175px;
    background-color: #eee;

}

.log-tab>li>a 
{
    font-size: 20px;
    margin-right: unset;
    border: unset;
    border-radius: unset;
    color:#000;
    padding: 12px 42px;
    text-align: center;
}

.log-tab>li.active>a, .log-tab>li.active>a:focus, .log-tab>li.active>a:hover 
{
   border-color: #333 !important;
    background-color: #333!important;
    color: #fff!important;
    cursor: pointer;
}
.log-tab>li>a:focus, .log-tab>li>a:hover ,.log-tab>li:hover{
    text-decoration: none;
    background-color: #ccc;
    color:#000;
}


/*.fg label
{
    color: #ccc;
}*/
.fc
{
    border-radius: unset;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    box-shadow: unset;
    border-bottom-color: #555555;

}
.fc:focus
{
    border-color: unset;
    box-shadow: unset;
}
.dbtn
{
    padding: 9px 34px;
    border-radius: unset;
    background-color: transparent;
    color: #555555;
    font-size: 15px;
    background-image: unset;
}
.dbtn:hover
{
    color: #fff;
    background-color: #555;
}
.mt-55 a
{
    color: #ccc;
}

.bef-aft
{
    text-align: center;
}
.bef-aft::before, .bef-aft::after
{
    content: "";
    position: relative;
    left: 0;
    display: inline-block;
    width: 30%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

.social
{
    padding-left: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;

}

.social li
{
    list-style: none;
    display: inline-block;
    justify-content: center;
    margin-left: 13px;
}
.social li a
{
    font-size: 14px;
}
.social li a i
{
    font-size: 20px;
    color: #fff;
    background-color: #3b5998;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;

}



.swbtn
{
    padding: 15px;
}
.swbtn p
{
    font-size: 13px;
    color: #ccc;
}

#d-none
{
    display: none;
}

.radio-group
{
    display: flex;
    justify-content: center;

}

/* The container */
.cont {
    display: inline-block;
    position: relative;
    padding-left: 100px;
   
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index:10;
    color:#000;
}

/* Hide the browser's default radio button */
.cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100px;
    background-color: #eee;
    border-radius: 0;
    text-align:center;
    line-height: 40px;
    font-weight: 200;
}

/* On mouse-over, add a grey background color */
.cont:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.cont input:checked ~ .checkmark {
    background-color: #333;
    color:#fff;
}




.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.material-switch span
{
    font-size: 13px;
    color: #555555;
}






@media only screen  and (min-width: 319px) and (max-width: 321px) {
    .log-tab>li>a 
    {
        padding: 12px 30px;
    }
}



@media only screen  and (min-width: 360px) and (max-width: 366px) {
    .log-tab>li>a 
    {
        padding: 12px 30px;
    }
  
}


@media only screen and (min-width: 413px) and (max-width: 415px) {
    .log-tab>li>a 
    {
        padding: 12px 30px;
    }
  }
@media only screen and (min-width: 1023px) and (max-width: 1025px) {
   

    .tab-content
    {
        padding-left: 30px;
    }
   .log-tab
   {
    padding-left: 30px;
   }
   .log-tab>li
   {
    width: 154px;
   }

   .img-text
   {
    left: 30px;
   }

}

